* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
}

#root {
  height: 100%;
}

h1 {
  flex-basis: 100%;
  text-align: center;
  padding: 1rem;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}

.listItemContainer {
  flex-basis: 50%;
  padding-left: 2rem;
}
.formFieldsContainer {
  flex-basis: 50%;
}

.listItem {
  line-height: 1.5rem;
  padding: 1rem;
}

.listItem p {
  justify-content: center;
  align-items: center;
}

.formFieldsContainer input {
  padding: 0.55rem;
  border-radius: 5px;
  border: 1px lightgray solid;
  margin-top: 0.25rem;
}

.inputFieldContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  position: relative;
}

input.invalid {
  border: red 1px solid;
}

.errorMessage {
  color: red;
  position: absolute;
  top: 62px;
}

button {
  padding: 0.65rem 1.25rem;
  background-color: transparent;
  border: 1px lightgray solid;
  border-radius: 5px;
  fill: none;
  cursor: pointer;
}

button:hover {
  border: 1px gray solid;
}

.notAllowedCursor {
  cursor: not-allowed;
}

@media only screen and (max-width: 900px) {
  .container {
    align-items: flex-start;
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
  }
  .listItemContainer {
    margin-top: 2rem;
  }
}
